DEVELOPMENT=true
DEBUG_WAIT_FOR_ATTACH=true
STEAM_API_KEY=foo
POSTGRES_USER=MEGASCATTERBOMB
POSTGRES_PASSWORD=masterbase
POSTGRES_HOST=localhost
POSTGRES_PORT=8050
MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=MEGASCATTERBOMB
MINIO_SECRET_KEY=masterbase
MINIO_TIMEOUT=5
ANALYSIS_BINARY=
ANALYSIS_TIMEOUT=3600
TASK_WORKER_THREADS=4
TASK_AGE_RATE_SECONDS=60
CLEANUP_INTERVAL_SECONDS=900
