pre,code {
  font-family: var(--type-mono);
  color: var(--color-text);
}

.highlight {
  padding: 0.33rem;
  border-radius: 0.5rem;
  font-size: small;
  background-color: var(--color-button);

  pre {
    padding: 0;
    margin: 0;
  }

  .highlight {
    padding: 0;
  }
}
