.profile-card-x {
    background-color: var(--color-background);
    color: var(--color-text);
    width: 400px;
//     height: 300px;
    padding-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px var(--color-border);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.avatar {
    width: 80px;
    height: 80px;
    outline: 10px solid #ecf1ff;
    border-radius: 50%;
}

.avatar>img {
    outline: 10px #ecf1ff;
    border-radius: 50%;
    width: inherit;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.salutation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.salutation>.name {
    font-size: 3rem;
    color: var(--color-link);
    font-weight: 500;
}

.salutation>.designation {
    font-size: 15px;
    color: var(--color-text);
    font-variant-numeric: tabular-nums lining-nums;
}

.options {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 10px;
}

.options>button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    color: var(--color-text);
    background-color: var(--color-button);
    border: 2px solid var(--color-border);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: all 500ms ease;

    &:hover {
        transform: scale(1.1);
    }
}

.options>button>.btn-img {
    width: 30px;
    aspect-ratio: 1/1;

    &:hover {
        transform: scale(1);
    }
}

.more-options {
    bottom: -60px;
    right: -120px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: var(--main-txt-color);
    color: white;
    border-radius: 5px;
    gap:5px;
    transition: all 500ms ease;
}
.notVisible{
    transform: scale(0);
}

.option {
    display: flex;
    align-items: center;
    height:30px;
    cursor: pointer;
    transition: all 500ms ease;
    border-radius: inherit;
    padding: 10px;
    &:hover{
        background-color: #2d255a;
    }
}